<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mit.arch.mapper.InspCharMapper">

<select id="getList" resultType="mit.arch.domain.InspCharVO">
	SELECT * FROM inspection_characteristics ORDER BY insp_char
</select>

<select id="cnt" resultType="int">
	SELECT count(*) cnt FROM item_insp_char where insp_char = #{insp_char}
</select>

<select id="getInspChar" resultType="string">
	SELECT insp_char FROM inspection_characteristics ORDER BY insp_char
</select>

<delete id="delete">
	DELETE FROM inspection_characteristics WHERE insp_char = #{insp_char}
</delete>

<update id="update">
	UPDATE inspection_characteristics
		<trim prefix="SET" suffixOverrides=",">
			<if test="insp_char != null">insp_char  = #{insp_char },</if>
			<if test="insp_char_name != null">insp_char_name  = #{insp_char_name},</if>
			<if test="qn_f != null">qn_f  = #{qn_f},</if>
			<if test="sample_qty != null">sample_qty  = #{sample_qty},</if>
			<if test="ac != null">ac  = #{ac},</if>
			<if test="re != null">re  = #{re},</if>
			<if test="usl != null">usl  = #{usl},</if>
			<if test="sl != null">sl  = #{sl},</if>
			<if test="lsl != null">lsl  = #{lsl},</if>
			<if test="ucl != null">ucl  = #{ucl},</if>
			<if test="cl != null">cl  = #{cl},</if>
			<if test="lcl != null">lcl  = #{lcl},</if>
			<if test="unit != null">unit  = #{unit },</if>
			<if test="create_user != null">create_user  = #{create_user},</if>
			<if test="create_date != null">create_date  = #{create_date},</if>
			<if test="update_user != null">update_user  = #{update_user},</if>
			<if test="update_date != null">update_date  = #{update_date},</if>
			<if test="delete_user != null">delete_user  = #{delete_user},</if>
			<if test="delete_date != null">delete_date  = #{delete_date},</if>
			<if test="deletion_f != null">deletion_f  = #{deletion_f},</if>
		</trim>
	WHERE insp_char = #{insp_char}
</update>

<insert id="insert">
	INSERT INTO inspection_characteristics(insp_char, insp_char_name, qn_f, sample_qty, ac, re, usl, sl, lsl, ucl, cl, lcl, unit, create_date, update_date, delete_date, deletion_f)
	VALUES(#{insp_char}, #{insp_char_name}, #{qn_f}, #{sample_qty, jdbcType=INTEGER}, #{ac, jdbcType=INTEGER}, #{re, jdbcType=INTEGER}, #{usl, jdbcType=FLOAT}, #{sl, jdbcType=FLOAT}, #{lsl, jdbcType=FLOAT}, #{ucl, jdbcType=FLOAT}, #{cl, jdbcType=FLOAT}, #{lcl, jdbcType=FLOAT}, #{unit}, #{create_date, jdbcType=DATE}, #{update_date, jdbcType=DATE}, #{delete_date, jdbcType=DATE}, #{deletion_f})
</insert>

<select id="read" resultType="mit.arch.domain.InspCharVO">
	SELECT * FROM inspection_characteristics where insp_char = #{insp_char}
</select>

</mapper>