<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mit.arch.mapper.LotInspResultMapper">
 
 	<!-- Lot 리스트 조회(테스트 완료) -->
 	<select id="getLotList" resultType="mit.arch.domain.LotVO">
		select lot.lot_no, lot.create_user, lot.create_date, lot.lot_size, lot.yn_f, lot.item_code, item.item_name
		from lot left join item on lot.item_code = item.item_code order by lot_no DESC
	</select>
	
	<select id="getSampleList" resultType="mit.arch.domain.InspResultVO">
		select lot.lot_no, lot.item_code, insp.insp_char, insp.insp_char_name, insp.sample_qty
		from lot left join item_insp_char insp on lot.item_code = insp.item_code
		WHERE lot.lot_no = #{lot_no}
		order by insp.insp_char
	</select>
	
	<!-- Lot 등록(테스트 완료) -->
	<insert id="insertLot">
		INSERT INTO lot(lot_no, create_user, create_date, lot_size, yn_f, item_code)
		VALUES(('L'||to_char(sysdate,'YYYYMMDD')||'-'|| LPAD(LOT_SEQ.nextval,4,0)), #{create_user, jdbcType=VARCHAR}, sysdate, #{lot_size, jdbcType=INTEGER}, #{yn_f, jdbcType=VARCHAR}, #{item_code, jdbcType=VARCHAR})
	</insert>
	
	<!-- Lot 삭제(테스트 완료) -->
	<delete id="deleteLot">
		DELETE FROM lot WHERE lot_no = #{lot_no}
	</delete>
	
	<!-- Lot 수정(테스트 완료) -->
	<update id="updateLot">
		UPDATE lot
			<trim prefix="SET" suffixOverrides=",">
				<if test="lot_no != null">lot_no = #{lot_no},</if>
				<if test="create_user != null">create_user = #{create_user},</if>
				<if test="create_date != null">create_date = #{create_date},</if>
				<if test="lot_size != null">lot_size = #{lot_size},</if>
				<if test="yn_f != null">yn_f = #{yn_f},</if>
				<if test="item_code != null">item_code = #{item_code},</if>
			</trim>
		WHERE lot_no = #{lot_no}
	</update>
	
	<select id="lotCnt" resultType="int">
		select count(*) cnt from insp_result where lot_no = #{lot_no}
	</select>
	
	<select id="resultCnt" resultType="int">
		select count(*) cnt from insp_result where lot_no = #{lot_no} and insp_char = #{insp_char} and sample_no = #{sample_no}
	</select>
	
	<insert id="insertInspResult">
		INSERT INTO insp_result(lot_no,sample_no,item_code,insp_char,insp_char_name,insp_result,yn_f)
		VALUES(#{lot_no},#{sample_no},#{item_code},#{insp_char},#{insp_char_name},#{insp_result, jdbcType=FLOAT},#{yn_f})
	</insert>
	
	<select id="getInspResult" resultType="mit.arch.domain.InspResultVO">
		select * from insp_result where lot_no = #{lot_no} order by insp_char, sample_no
	</select>
	
	<update id="updateInspResult">
		UPDATE insp_result
			<trim prefix="SET" suffixOverrides=",">
				<if test="lot_no != null">lot_no = #{lot_no},</if>
				<if test="sample_no != null">sample_no = #{sample_no},</if>
				<if test="item_code != null">item_code = #{item_code},</if>
				<if test="insp_char != null">insp_char = #{insp_char},</if>
				<if test="insp_char_name != null">insp_char_name = #{insp_char_name},</if>
				<if test="insp_result != null">insp_result = #{insp_result},</if>
				<if test="yn_f != null">yn_f = #{yn_f},</if>
			</trim>
		WHERE lot_no = #{lot_no} and insp_char = #{insp_char} and sample_no = #{sample_no}
	</update>
 
</mapper>